@import './colors';

// Buttons
.btn {
  text-transform: uppercase;
  font: bold 14px/1.4 'HelveticaNeue', sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 2px;
  padding: 11px 20px 10px;
  border: 2px solid transparent;
  outline: 0;
  margin: 0 8px;
  min-width: 104px;
  box-shadow: transparent;
  transition: background 150ms ease-in,
  color 150ms ease-in,
  border-color 150ms ease-in,
  box-shadow 150ms ease-in,
  transform 150ms ease-in;

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    outline: none;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $btn-disabled-bg;
    border-color: $btn-disabled-bg;
    color:  $btn-disabled-color;
    box-shadow: none;
    text-decoration: none;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-bg;
  color: $btn-primary-color;

  &:active,
  &:active:focus,
  &:focus,
  &.focus {
    background-color: $btn-primary-bg;
    border-color: $btn-primary-bg;
    color: $btn-primary-color;
  }

  &:hover {
    background-color: $btn-primary-bg-hover;
    border-color: $btn-primary-bg-hover;
    color: $btn-primary-color-hover;
  }
}

.btn-secondary {
  background-color: $btn-secondary-bg;
  border-color: $btn-secondary-bg;
  color: $btn-secondary-color;

  &:active,
  &:active:focus,
  &:focus,
  &.focus,
  &:hover {
    background-color: $btn-secondary-bg-hover;
    border-color: $btn-secondary-bg-hover;
    color: $btn-secondary-color-hover;
  }
}

.btn-tertiary {
  background-color: $btn-tertiary-bg;
  border-color: $btn-tertiary-border;
  color: $btn-tertiary-color;

  &:active,
  &:active:focus,
  &:focus,
  &.focus {
    background-color: $btn-tertiary-bg;
    border-color: $btn-tertiary-border;
    color: $btn-tertiary-color;
  }

  &:hover {
    background-color: $btn-tertiary-bg-hover;
    border-color: $btn-tertiary-border-hover;
    color: $btn-tertiary-color-hover;
  }
}

.btn-muted {
  color: $muted;
}

.btn-more-info {
  background: #f3f3f3;
  color: $c-gray-700;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 8px 10px 7px;
  font-size: 12px;
  min-width: 90px;
}
