@import "./colors";
@import "./variables";

.loading-bar {
  margin: 300px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  > div {
    background-color: $c-blue-600;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

$circle-radius: 30px;

.loading-spinner-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $z-index-loading-spinner;
  background: rgba(0, 0, 0, 0.64);

  &.app-loading {
    background: transparent;
  }

  .loading-spinner {
    margin: 200px auto;
    width: 50px;
    height: 50px;
    position: relative;
    text-align: center;

    animation: spinner-rotate 2.5s infinite linear;
    -webkit-animation: spinner-rotate 2.5s infinite linear;

    .circle {
      display: inline-block;
      width: $circle-radius;
      height: $circle-radius;
      position: absolute;
      top: 0;
      border-radius: 100%;
      animation: circle-grow 2.5s infinite ease-in-out;
      -webkit-animation: circle-grow 2.5s infinite ease-in-out;

      &.circle-1 {
        top: calc(100% - #{$circle-radius});
        left: calc(50% - #{$circle-radius / 2});
        background: #008edd;
        animation-delay: -1500ms;
        -webkit-animation-delay: -1500ms;
      }

      &.circle-2 {
        left: 0;
        bottom: 0;
        animation-delay: -500ms;
        -webkit-animation-delay: -500ms;
        background: #b7dd58;
      }

      &.circle-3 {
        bottom: 0;
        right: 0;
        animation-delay: -1000ms;
        -webkit-animation-delay: -1000ms;
        background: #ffc600;
      }
    }
  }
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes circle-grow {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: .5;
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: .9;
  }
}

@-webkit-keyframes circle-grow {
  0%, 100% {
    -webkit-transform: scale(0);
    opacity: .5;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: .9;
  }
}
