button {
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 17px 53px;
  border: 0;
  width: 144px;
  height: 48px;

  &:hover,
  &:focus,
  &:active {
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
  }

  &:disabled {
    pointer-events: none;
  }
}

p {
  opacity: 0.6;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.43;
  text-align: right;
  color: #ffffff;
  margin: 14px 24px;
  display: inline-block;
}
