@import '../../../../../content/css/colors';

.search-result-list-container {
  padding: 16px 0;
  position: relative;
  text-align: center;

  .search-result-list {
    padding: 8px 20px;
    margin-bottom: 16px;

    &.results-bg {
      background: $c-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .no-results-msg {
    display: block;
    margin-top: 10px;
    opacity: 0.5;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    color: $c-gray-700;
  }

  .more-results-link {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
}
