@import "../../../../content/css/colors";

.sort-menu {

  .sort-menu-link {
    color: $inactive-gray;
    font-weight: 500;
    font-size: 13px;
  }

  .material-icons {
    vertical-align: bottom;

    &.invert {
      transform: rotateX(180deg);
    }
  }
}
