@import '../../../../content/css/global';
@import "../../../../content/css/variables";
@import '../../../../content/css/colors';

.modal-open{
  overflow: scroll;
}
.mass-update-checkbox{
  margin: 10px;
}

.modal.fade{
overflow: scroll;
}