@import "../../../../content/css/colors";

.nav-menu-error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  color: $c-red-400;

  span {
    margin-left: 12px;
  }
}
